.fs-4{margin-left: 20px;
        margin-top: 10px;
        color: rgb(9, 4, 54);
        font-size: 40px;
        font-weight: bolder;
    }
    .gradient-background{ 
      background: linear-gradient(300deg, #586f86, #80a6bd, #e6f5fc);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

     .lead{font-size: 20px;}

     .a{text-align: left;}
     .svg{margin-right: 10px;}
     .fill{margin-top: 20px;font-size: 20px;}
     .last{font-size: 20px;}
     #carousel{ width: 70%;
        margin: 50px 0 50px 200px;}

    #call{background-color: antiquewhite;text-align: left;}
    #Contact{width: 50%;
        display: flex;
        justify-content: center;
        font-size: 20px;}

        .aboutUs{width: 80%;margin-left: 120px;
            background-color: rgb(202, 240, 241);text-align: center;font-size: 40px;}
         .us{
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        #LOGO{border-radius: 50px;height: 100px;padding: 10px;}
        .aboutUs h2{font-size: 50px; padding: 20px 20px 5px 20px;}

        #callUs{font-weight: bold;font-size: 20px; }
        #messageUs{font-weight: bold; font-size: 20px;}
        

        
